<% provide(:title, "About") %>
<h1>About</h1>
<p>
	My first rails project, a light weight twitter-like application
	Vist <a href="http://www.twitter.com/"><em> www.twitter.com</em></a> for the inspiration.
</p>